
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  width: 100%;
  overflow: hidden;
  background-color: #292c2f;
}


.topnav a {
  float: right;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 15px;
}

.active1 {
  background-color: #4CAF50;
  color: white;
  border-radius: 15px;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    
    
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    
    float: none;
    display: block;
    text-align: left;
  }
}


.accordion {
    background-color: rgb(42,101,99);
    color: rgb(244, 217, 148);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  
  .active, .accordion:hover {
    background-color: rgb(43, 151, 146);
  }
  
  
  .panel {
    z-index: 2;
    padding: 0 18px;
    background-color: rgb(250, 250, 250);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .accordion:after {
    content: '\02795'; 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; 
  }
  
 .conteiner2{
     position: relative;
     margin-top: 10%;
     margin-left: 10%;
     width: 80%;
 }

 .didntsee{
   color: rgb(255, 60, 0);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 30px;
   font: bold;
   margin-left: 10%;
   margin-top: 10%;
 }
 #contactbutton{
   margin-left: 38%;
   margin-top: -6.5%;
   width: 20%;
 }




 .footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 139%;
  margin-left: -38.9%;
  text-align: left;
  font: normal 16px sans-serif;

  padding: 45px 50px;
  margin-top: 5%;
}

.footer-distributed .footer-left p{
  color:  #8f9296;
  font-size: 14px;
  margin: 0;
}
.footer-distributed p.footer-links{
  font-size:18px;
  font-weight: bold;
  color:  #ffffff;
  margin: 0 0 10px;
  margin-left: 31%;
  padding: 0;
}
#copyr{
  margin-left: 29%;
}

.footer-distributed p.footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-right{
  float: right;
  margin-top: 6px;
  max-width: 180px;
}
.footer-distributed p.footer-links a:hover{
  color: #FFCC00;
}  



@media screen and (max-width: 1383px) {
  #contactbutton{
    margin-left: 38%;
    margin-top: -1.5%;
    width: 26%;
  }
}