.btn-app-store{
  z-index: 2;
    background: black;
  color: white;
  position: relative;
  width: 93%;
  height: 40px;
  padding-left: 55px;
  padding-right: 20px;
  top: 1085px;
  right: 70%;
  }
  .btn-app-store i{
  font-size: 35px;
  position: absolute;
  left: 3px;
    margin-top: -4px;
  }
  .btn-app-store .small{
    position: relative;
  display: block;
  font-size: 12px;
  line-height: 12px;
  text-align: right;
    margin-top: -4px;
  }
  .btn-app-store .big{
  display: block;
  text-align: right;
  font-size: 20px;
  line-height: 20px;
  }

  
  
  body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    .topnav {
      overflow: hidden;
      background-color: #292c2f;
    }
    
    .topnav a {
      float: right;
      display: block;
      color: #ffffff;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .topnav a:hover {
      background-color: #ddd;
      color: black;
      border-radius: 15px;
    }
    
    .active {
      background-color: #4CAF50;
      color: white;
      border-radius: 15px;
    }
    
    .topnav .icon {
      display: none;
    }
    
    @media screen and (max-width: 600px) {
      .topnav a:not(:first-child) {display: none;}
      .topnav a.icon {
        float: right;
        display: block;
      }
    }
    
    @media screen and (max-width: 600px) {
      .topnav.responsive {position: relative;}
      .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
    }

    .iphone1{
        height: 650px;
        z-index: 2;
        position: relative;
        left: 6%;
        top: 100px;
    }
    /*App Name*/
  .appname{
    position: absolute;
    left: 45%;
    font-size: 300%;
    color: rgb(121, 161, 10);
}
/*Paragraph*/
.paragraph{
  position: absolute;
  font-family: Georgia, 'Times New Roman', Times, serif;
  left: 40%;
  top: 300px;
  font-size: 200%;
  color: rgb(255, 255, 255);
}

.ipad1{
    position: relative;
  width: 40%;
  left: 31%;
  top: 400px;
}
.ipadtext{
    position: relative;
    font-size: 290%;
    top: 380px;
    color: rgb(255, 0, 0);
}
  /*Video*/
  .conteiner2{
    position: relative;
    top: 700px;
}
 /*Video Text*/
 .welcome{
    color: #FFCC00;
    font-size: 300%;
}
/*Slider Text*/
.howcan{
    position: relative;
    color: crimson;
    font-size: 400%;
   top: 800px
}
/*Slider*/
#slider1{
    position: relative;
  width: 20%;
  left: 7%;
  top: 900px;
 }
/*Slider Text*/
.textp{
    position: relative;
    font-size: 200%;
    color: #FFCC00;
    margin-left: 30%;
    top: 450px;
}
.textp2{
    position: relative;
    font-size: 200%;
    color: #FFCC00;
    top: 1000px;
   margin-left: 37%;
}
/*Footer*/
.footer-distributed{
    position: relative;
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 107%;
  margin-left: -2%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
  top: 1000px;
}

.footer-distributed .footer-left p{
  color:  #8f9296;
  font-size: 14px;
  margin: 0;
}
.footer-distributed p.footer-links{
  font-size:18px;
  font-weight: bold;
  color:  #ffffff;
  margin: 0 0 10px;
  margin-left: 5%;
  padding: 0;
}
#copyr{
  margin-left: 4%;
}

.footer-distributed p.footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-right{
  float: right;
  margin-top: 6px;
  max-width: 180px;
}
.footer-distributed p.footer-links a:hover{
  color: #FFCC00;
} 






@media screen and (max-width: 973px){
    .paragraph{
        position: absolute;
        left: 10%;
        top: 900px;
        font-size: 140%;
        color: #FFCC00;
      }
      .appname{
        position: absolute;
        left: 10%;
        font-size: 300%;
        color: #FFCC00;
    }
    .ipad1{
        position: relative;
      width: 70%;
      left: 18%;
      top: 400px;
    }
    .ipadtext{
        position: relative;
        font-size: 290%;
        top: 380px;
        color: rgb(255, 0, 0);
    }
    #slider1{
        position: relative;
      width: 30%;
      left: 7%;
      top: 900px;
     }



    
    .textp{
        position: relative;
        font-size: 200%;
        color: #FFCC00;
        margin-left: 10%;
        top: 950px;
    }
    .textp2{
        position: relative;
        font-size: 200%;
        color: #FFCC00;
        top: 1000px;
       margin-left: 10%;
    }
}