body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  width: 100%;
  overflow: hidden;
  background-color: #292c2f;;
}


.topnav a {
  float: right;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  border-radius: 15px;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 15px;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}






.container1{
  position: relative;
  color: rgb(70, 0, 70);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  top: 350px;
  left: 17%;
  bottom: -100px;
  width:45%;
}
.form-group{
  position: relative;
  top: -250px;
  left: 20%;
}
#btnprimary{
  position: relative;
  background-color: rgb(70, 0, 70);
  border-color: rgb(169, 118, 184);
  top: -250px;
  left: 60%;
  width: 200px;
  height: 68px;
}
@media screen and (max-width: 1132px) {
#btnprimary{
  position: relative;
  left: 25%;
}
}
#name{
  background-color:transparent;
  border-color: #f9f9f9;
  color: #ffffff;
  border-radius: 25px;
  width:113%;
  height:55px;
}
#phone{
  background-color:transparent;
  border-color: #f9f9f9;
  color: #ffffff;
  border-radius: 25px;
  width:113%;
  height:55px;
}
#Question{
  background-color:transparent;
  border-color: #f9f9f9;
  color: #ffffff;
  border-radius: 25px;
  width:113%;
  height:55px;
}
#Mail{
  background-color: transparent;
  border-color: #f9f9f9;
  color: #ffffff;
  border-radius: 25px;
  width:113%;
  height:55px;
}
#formgroup input::placeholder{
color: rgb(255, 255, 255);
}


.footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 334.5%;
  height: 130px;
  margin-left: -150%;
  text-align: left;
  font: normal 16px sans-serif;

  padding: 45px 50px;
  margin-top: -95px;
}


.footer-distributed .footer-left p{
color:  #8f9296;
font-size: 14px;
margin: 0;
}
.footer-distributed p.footer-links{
font-size:18px;
font-weight: bold;
color:  #ffffff;
margin: 0 0 10px;
margin-left: 37%;
padding: 0;
}
#copyr{
margin-left: 35%;
margin-top: -13px;
}


.footer-distributed p.footer-links a{
display:inline-block;
line-height: 1.8;
text-decoration: none;
color:  inherit;
}

.footer-distributed .footer-right{
float: right;
margin-top: 6px;
max-width: 180px;
}
.footer-distributed p.footer-links a:hover{
color: #FFCC00;
}
